<aside>
  <ul>
    <li routerLink="/home" routerLinkActive="active">
      <img src="assets/icons/home-2-line.svg" alt="home">
      <a>Home</a>
    </li>
    <li routerLink="/albums" routerLinkActive="active">
      <img src="assets/icons/album-line.svg" alt="album">
      <a>Albums</a>
    </li>
    <li routerLink="/artists" routerLinkActive="active">
      <img src="assets/icons/user-line.svg" alt="artist">
      <a>Artists</a>
    </li>
    <li routerLink="/tracks" routerLinkActive="active">
      <img src="assets/icons/music-2-line.svg" alt="track">
      <a>Tracks</a>
    </li>
    <li routerLink="/favorites" routerLinkActive="active">
      <img src="assets/icons/heart-3-line.svg" alt="heart">
      <a>Favorites</a>
    </li>
    <li (click)="logout()">
      <img src="assets/icons/logout-box-line.svg" alt="logout">
      <a>Logout</a>
    </li>
  </ul>
</aside>