@import 'base';

aside {
  @include flex-column(center, center);
  height: 95%;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  background-color: $gray-transparent;
  padding: $padding-large;
  margin: $margin-large;

  ul {
    @include flex-column(flex-start, flex-start);
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    li {
      @include flex-row(flex-start, center);
      width: 100%;
      box-sizing: border-box;
      gap: $gap-medium;
      padding: $padding-large $padding-medium;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      a {
        font-size: $body-medium;
        font-weight: 400;
        text-decoration: none;
        color: $white;
        cursor: pointer;
      }

      &.active a, 
      &:hover a {
        color: $primary;
        font-weight: 600;
      }

      &.active,
      &:hover {
        background-color: $gray-transparent;
        border-radius: $border-radius-medium;
      }

      &:last-of-type {
        margin-top: auto;
      }
    }
  }
}