<header>
  <button *ngIf="detailsRoute()" type="button" class="back-icon btn-icon" (click)="goBack()">
    <img src="assets/icons/arrow-go-back-line.svg" alt="back">
  </button>
  <div class="search div-wrapper-icon">
    <input
      #searchInput
      type="text" 
      placeholder="Search"
      [disabled]="detailsRoute()"
      (keyup)="onSearch(searchInput.value)"
    >
    <button type="button" class="btn-icon">
      <img src="assets/icons/search-eye-line.svg" alt="search">
    </button>
  </div>
  <div class="user">
    <img [src]="user?.images?.[0]?.url ?? 'assets/icons/user-line.svg'" alt="User Image">
    <a routerLink="/favorites" routerLinkActive="active">{{ user?.display_name }}</a>
  </div>
</header>