@import 'base';

:host {
  display: grid;
  grid-template-rows: 60px auto; //header na primeira linha, conteúdo flexível na segunda
  grid-template-columns: 1fr 3fr; //aside na primeira coluna, conteúdo na segunda
  height: 100vh; //altura total da página
  background: $gray-600;
}

app-header {
  grid-row: 1 / 2; //header ocupa a primeira linha
  grid-column: 2 / -1; //header ocupa a segunda coluna (ao lado do aside)
}

app-aside {
  grid-row: 1 / -1; //aside ocupa as duas linhas (do topo ao rodapé)
  grid-column: 1 / 2; //aside ocupa a primeira coluna
  align-content: center;
}

.main-content {
  grid-row: 2 / -1; //conteúdo ocupa a segunda linha
  grid-column: 2 / -1; //conteúdo ocupa a segunda coluna (ao lado do aside)
}