
@import 'base';

:host {
  @include flex-center();
  height: 100%;
}

.main {
  @include flex-row(center, center);
  width: 100%;
  height: 100%;

  .branding,
  .login-container {
    @include flex-center();
    flex: 1;
    height: 100%;
  }

  .branding {
    background: $primary-200;
    background: $login-gradient-bg;

    img {
      width: 50%;
      opacity: 0.8;
    }
  }

  .login-container {
    @include flex-column(flex-start center);
    background-color: $gray-transparent;
    padding: 0 $padding-3x-large;

    .signin-div {
      color: $white;
    }

    form {
      width: 100%;
      box-sizing: border-box;
  
      .input-group {
        @include flex-column(center, flex-start);
        width: 100%;
    
        input {
          @include input(
            100%, 
            $gray-500, 
            $white, 
            $padding-large, 
            $border-radius-large, 
            true
          );
        }
    
        label {
          font-size: $body-small;
          color: $white;
          transition: color 0.3s ease,
                      font-size 0.3s ease;
        }
    
        &:focus-within label {
          color: $primary;
          font-size: $body-medium;
        }
      }
      
      .button-wrapper {
        @include flex-row(space-between, flex-start);
        margin-top: $margin-small;

        button {
          @include button(
            $primary, 
            $white, 
            $padding-medium, 
            $border-radius-large
          );
          font-size: $body-medium;
          width: 150px;
        }

        p.singup-text {
          color: $white;
          font-size: $body-small;
          margin: 0;

          a {
            cursor: pointer;
            color: $primary;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
              color: darken($primary, 10%);
            }
          }
        }
      }

      .wrapper-spotify {
        margin-top: $margin-large;

        button {
          @include flex-row(center, center);
          gap: $gap-small;
          background-color: rgba(255, 255, 255, 0.72);
          color: $green-500;
          font-weight: 600;
          padding: $padding-medium;
          border-radius: $border-radius-large;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-size: $body-medium;
          width: 100%;

          &:hover {
            background-color: $white;
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    
  }
}
