@import 'base';

.skeleton-card {
  width: 260px;
  height: 300px;
  background: $skeleton-gradient-bg;
  background-size: 200% 100%;
  border-radius: $border-radius-large;
  animation: shimmer 1.5s infinite;
  margin: $margin-small;
}