<app-list-header
  [title]="'Most Popular Artists'"
  [subtitle]="'Discover the most popular artists on Spotify.'"
></app-list-header>

<div class="list-container">
  <div class="cards-container">
    <ng-container *ngIf="loading(); else artistList">
      <ng-container *ngFor="let _ of skeletonArray">
        <app-skeleton-card></app-skeleton-card>
      </ng-container>
    </ng-container>
  
    <ng-template #artistList>
      <ng-container *ngFor="let artist of displayedArtists(); trackBy: identify">
        <app-card [data]="artist" [type]="'artist'"></app-card>
      </ng-container>
    </ng-template>
  </div>
  
  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (nextPage)="loadNextPage()"
    (previousPage)="loadPreviousPage()"
  ></app-pagination>
</div>