<aside>
  <ul>
    <li>
      <img src="assets/icons/home-2-line.svg" alt="home">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <img src="assets/icons/album-line.svg" alt="album">
      <a routerLink="/albums" routerLinkActive="active">Albums</a>
    </li>
    <li>
      <img src="assets/icons/user-line.svg" alt="artist">
      <a routerLink="/artists" routerLinkActive="active">Artists</a>
    </li>
    <li>
      <img src="assets/icons/music-2-line.svg" alt="track">
      <a>Tracks</a>
    </li>
    <li>
      <img src="assets/icons/heart-3-line.svg" alt="heart">
      <a>Favorites</a>
    </li>
    <li>
      <img src="assets/icons/logout-box-line.svg" alt="logout">
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</aside>