@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'variables'; 
@import 'mixins';
@import 'animations';
@import 'colors';

html, body {
  font-family: $font-family-base;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: $gray-600;
}

.div-wrapper-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  input {
    flex: 1; //ocupar todo o espaço disponível**
    padding-right: 2.25rem;
  }

  button {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
  }
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}