<app-list-header
  [title]="!artistId ? 'Most Popular Albums' : 'Albums'"
  [subtitle]="!artistId ? 'Discover the most popular albums on Spotify.' : undefined"
></app-list-header>

<div class="list-container">
  <div class="cards-container">
    <ng-container *ngIf="loading(); else albumList">
      <div *ngFor="let _ of skeletonArray">
        <app-skeleton-card></app-skeleton-card>
      </div>
    </ng-container>
  
    <ng-template #albumList>
      <div *ngFor="let album of displayedAlbums()">
        <app-card [data]="album" [type]="'album'"></app-card>
      </div>
    </ng-template>
  </div>
  
  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (nextPage)="loadNextPage()"
    (previousPage)="loadPreviousPage()"
  ></app-pagination>
</div>